{extend name="Public/base" /}
{block name="css"}
<link href="__PLUGINS__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
{/css}
{block name="js"}
<script src="__PLUGINS__/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__PLUGINS__/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/index.js"></script>
{/block}
{block name="content"}
<div id="content-container">
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">主页</h1>
    </div>


    <div id="page-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">待审核-学员基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <table id="member"  
                        data-url="{:url('admin/index/memberlist')}"
                        data-sort-name="id"
                        data-page-size="10"
                        data-pagination="true" 
                        data-side-pagination="server">
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">待审核-学员评估报告</h3>
                    </div>
                    <div class="panel-body">
                        <table id="report"  
                        data-url="{:url('admin/index/reportlist')}"
                        data-sort-name="id"
                        data-page-size="10"
                        data-pagination="true" 
                        data-side-pagination="server">
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">待审核-学员训练记录</h3>
                    </div>
                    <div class="panel-body">
                        <table id="training"  
                        data-url="{:url('admin/index/traininglist')}"
                        data-sort-name="id"
                        data-page-size="10"
                        data-pagination="true" 
                        data-side-pagination="server">
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">待审核-学员阶段评估报告</h3>
                    </div>
                    <div class="panel-body">
                        <table id="evaluation"  
                        data-url="{:url('admin/index/evaluationlist')}"
                        data-sort-name="id"
                        data-page-size="10"
                        data-pagination="true" 
                        data-side-pagination="server">
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{/block}