<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap">
                            <div class="pad-btm">
                                <img class="img-circle img-sm img-border" src="{$userself.profile.avatar}" alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle">
                                    <i class="dropdown-caret"></i>
                                </span>
                                <p class="mnp-name">{$userself.profile.nickname}</p>
                                <span class="mnp-desc">{$userself.email}</span>
                            </a>
                        </div>
                        <div id="profile-nav" class="collapse list-group bg-trans">
                            <a href="{:url('admin/user/profile')}" class="list-group-item">
                                <i class="demo-pli-male icon-lg icon-fw"></i> 个人信息
                            </a>
                            <a href="{:url('Index/admin/logout')}" class="list-group-item">
                                <i class="demo-pli-unlock icon-lg icon-fw"></i> 退出登录
                            </a>
                        </div>
                    </div>

                    <ul id="mainnav-menu" class="list-group">
            
                        <!--Category name-->
                        <li class="list-header">菜单</li>
            
                        <!--Menu list item-->
            
                        <!--Menu list item-->
                        <!-- <li>
                            <a href="#">
                                <i class="demo-psi-split-vertical-2"></i>
                                <span class="menu-title">
                                    <strong>评估表</strong>
                                </span>
                                <i class="arrow"></i>
                            </a>
                            <ul class="collapse">
                                <li><a href="{:url('Index/assess/ompadd')}">口肌发音</a></li>
                                
                                <li><a href="{:url('Index/assess/expressadd')}">语言理解表达能力</a></li>
                                <li><a href="{:url('Index/assess/sensoryadd')}">感统</a></li>
                                <li><a href="{:url('Index/assess/attentionadd')}">专注力</a></li>
                                <li><a href="{:url('Index/assess/socialadd')}">社交行为</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{:url('Index/assess/infoBeforeAdd')}">
                                <i class="demo-psi-pen-5"></i>
                                <span class="menu-title">
                                    <strong>授课前了解事项</strong>
                                </span>
                            </a>
                        </li> -->
                        <li>
                            <a href="{:url('admin/assess/create')}">
                                <i class="demo-psi-pen-5"></i>
                                <span class="menu-title">
                                    <strong>历史数据增加</strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{:url('admin/member/create')}">
                                <i class="demo-psi-pen-5"></i>
                                <span class="menu-title">
                                    <strong>新增学员</strong>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="{:url('admin/member/index')}">
                                <i class="demo-psi-pen-5"></i>
                                <span class="menu-title">
                                    <strong>学员库</strong>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="demo-psi-gear-2"></i>
                                <span class="menu-title">
                                    <strong>网站管理</strong>
                                </span>
                                <i class="arrow"></i>
                            </a>
                            <ul class="collapse">
                                <li><a href="{:url('admin/role/index')}">权限角色</a></li>
                                <li><a href="{:url('admin/user/index')}">用户管理</a></li>
                                <li><a href="{:url('admin/config/log')}">网站日志</a></li>
                            </ul>
                        </li>
                                          
                    <!--================================-->
                    <!--End widget-->

                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->
        <script type="text/javascript">
            highlight_subnav("{:url($Request.module.'/'.$Request.controller.'/'.$Request.action,$Request.get)}")
        </script>
    </div>
</nav>