{extend name="Public:base" /}
{block name="css"}
<link href="__PLUGINS__/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
{/block}
{block name="js"}
<script src="__PLUGINS__/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="__JS__/role/role.js"></script>
{/block}
{block name="content"}
<div id="content-container">
                
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">权限角色</h1>
    </div>

    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}">主页</a></li>
        <li><a href="{:url('admin/role/index')}">权限角色</a></li>
        <li class="active">编辑</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
        <!--Basic Columns-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control pull-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabs-box-1" data-toggle="tab">基本信息</a></li>
                        <li><a href="#tabs-box-2" data-toggle="tab">权限管理</a></li>
                    </ul>
                </div>
                <h3 class="panel-title invisible">a</h3>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tabs-box-1">
                    <form action="{:url('admin/role/update',['id'=>$info['id']])}" method="post" class="form-horizontal" id="role-bv-errorcnt">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">角色名</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" name="name" placeholder="" value="{$info.name}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">角色描述</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" name="description" placeholder="" value="{$info.description}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">角色状态</label>
                                    <div class="col-lg-7">
                                        <div class="radio">
                                            <!-- Inline radio buttons -->
                                            <input id="form-status-1" class="magic-radio" type="radio" name="status" value="-1" {eq name="info.status" value="-1"}checked{/eq}>
                                            <label for="form-status-1">已删除</label>
                
                                            <input id="form-status-0" class="magic-radio" type="radio" name="status" value="0" {eq name="info.status" value="0"}checked{/eq}>
                                            <label for="form-status-0">已禁用</label>

                                            <input id="form-status1" class="magic-radio" type="radio" name="status" value="1" {eq name="info.status" value="1"}checked{/eq}>
                                            <label for="form-status1">已启用</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-7 col-sm-offset-2">
                                    <button class="btn btn-mint" type="submit">更新</button>
                                    <a href="{:url('admin/role/index')}" class="btn btn-info"> 返回</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>

                    <div class="tab-pane fade" id="tabs-box-2">
                    <form action="{:url('admin/role/update',['id'=>$info['id']])}" method="post" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    {volist name="rules" id="vo" offset="0" length='1'}
                                    <input id="checkbox-{$key}" class="magic-checkbox" type="checkbox" name="rules[]" value="{$vo.id}" {in name="vo.id" value="$info.rules"}checked{/in}>
                                    <label for="checkbox-{$key}">{$vo.title}</label>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    {volist name="rules" id="vo" offset="1" length='8'}
                                    <input id="checkbox-{$key}" class="magic-checkbox" type="checkbox" name="rules[]" value="{$vo.id}" {in name="vo.id" value="$info.rules"}checked{/in}>
                                    <label for="checkbox-{$key}">{$vo.title}</label>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    {volist name="rules" id="vo" offset="9" length='13'}
                                    <input id="checkbox-{$key}" class="magic-checkbox" type="checkbox" name="rules[]" value="{$vo.id}" {in name="vo.id" value="$info.rules"}checked{/in}>
                                    <label for="checkbox-{$key}">{$vo.title}</label>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    {volist name="rules" id="vo" offset="22" length='6'}
                                    <input id="checkbox-{$key}" class="magic-checkbox" type="checkbox" name="rules[]" value="{$vo.id}" {in name="vo.id" value="$info.rules"}checked{/in}>
                                    <label for="checkbox-{$key}">{$vo.title}</label>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    {volist name="rules" id="vo" offset="28" length='6'}
                                    <input id="checkbox-{$key}" class="magic-checkbox" type="checkbox" name="rules[]" value="{$vo.id}" {in name="vo.id" value="$info.rules"}checked{/in}>
                                    <label for="checkbox-{$key}">{$vo.title}</label>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    {volist name="rules" id="vo" offset="34" length='3'}
                                    <input id="checkbox-{$key}" class="magic-checkbox" type="checkbox" name="rules[]" value="{$vo.id}" {in name="vo.id" value="$info.rules"}checked{/in}>
                                    <label for="checkbox-{$key}">{$vo.title}</label>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-7 col-sm-offset-2">
                                    <button class="btn btn-mint" type="submit">更新</button>
                                    <a href="{:url('admin/role/index')}" class="btn btn-info"> 返回</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}