{extend name="Public:base" /}
{block name="css"}
<link href="__PLUGINS__/chosen/chosen.min.css" rel="stylesheet">
<link href="__PLUGINS__/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
{/block}
{block name="js"}
<script src="__PLUGINS__/chosen/chosen.jquery.min.js"></script>
<script src="__PLUGINS__/bootstrap-validator/bootstrapValidator.min.js"></script>
{/block}
{block name="content"}
<div id="content-container">
                
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">管理员分组</h1>
    </div>

    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}">主页</a></li>
        <li><a href="{:url('admin/user/indexGroup')}">管理小组</a></li>
        <li class="active">编辑</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
        <!--Basic Columns-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control pull-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabs-box-1" data-toggle="tab">基本信息</a></li>
                    </ul>
                </div>
                <h3 class="panel-title invisible">a</h3>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tabs-box-1">
                    <form action="{:url('admin/user/updateGroup',['id'=>$user['id']])}" method="post" class="form-horizontal" id="role-bv-errorcnt">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">小组长</label>
                                    <div class="col-lg-7">
                                        <select data-placeholder="选择小组长" id="chosen-select" tabindex="1" name="uid" class="form-control">   <option value=""></option>
                                            {volist name="list" id="vo"}
                                                {in name="vo.roles.0.id" value="1,2,3,4,6"}
                                                <option value="{$vo.id}" {eq name="vo.id" value="$user.uid"}selected{/eq}>{$vo.id}-{$vo.profile.fullname}-{$vo.roles.0.name}</option>
                                                {/in}
                                            }
                                            {/volist}
                                        </select>
                                        <script type="text/javascript">

                                            $('#chosen-select').chosen({width:'100%',allow_single_deselect:true,no_results_text: "没有找到结果！"});

                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">小组成员</label>
                                    <div class="col-lg-7">
                                        <select data-placeholder="选择小组长" id="chosen-select-group" tabindex="1" name="group_id[]" multiple class="form-control">   <option value=""></option>
                                            {volist name="list" id="vo"}
                                                {in name="vo.roles.0.id" value="7"}
                                                <option value="{$vo.id}" {in name="vo.id" value="$user.group_id"}selected{/in}>{$vo.id}-{$vo.profile.fullname}-{$vo.roles.0.name}</option>
                                                {/in}
                                            }
                                            {/volist}
                                        </select>
                                        <script type="text/javascript">
                                            $('#chosen-select-group').chosen({width:'100%',allow_single_deselect:true,no_results_text: "没有找到结果！"});
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">角色状态</label>
                                    <div class="col-lg-7">
                                        <div class="radio">
                                            <!-- Inline radio buttons -->
                                            <input id="form-status-1" class="magic-radio" type="radio" name="status" value="-1" {eq name="user.status" value="-1"}checked{/eq}>
                                            <label for="form-status-1">已删除</label>
                
                                            <input id="form-status-0" class="magic-radio" type="radio" name="status" value="0" {eq name="user.status" value="0"}checked{/eq}>
                                            <label for="form-status-0">已禁用</label>

                                            <input id="form-status1" class="magic-radio" type="radio" name="status" value="1" {eq name="user.status" value="1"}checked{/eq}>
                                            <label for="form-status1">已启用</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-7 col-sm-offset-2">
                                    <button class="btn btn-mint" type="submit">更新</button>
                                    <a href="{:url('admin/user/indexGroup')}" class="btn btn-info"> 返回</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}