{extend name="Public:base" /}
{block name="content"}
<div id="content-container">     
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">用户管理</h1>
    </div>

    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}">主页</a></li>
        <li class="active">用户管理</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
        <!--Basic Columns-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">用户-列表</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>昵称</th>
                                <th>真实姓名</th>
                                <th>邮箱</th>
                                <th>性别</th>
                                <th>所属中心</th>
                                <th>角色</th>
                                <th>最后登录时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.profile.nickname}</td>
                                <td>{$vo.profile.fullname}</td>
                                <td>{$vo.email}</td>
                                <td>{$vo.profile.sex}</td>
                                <td>{$vo.profile.centers.name}</td>
                                <td>{$vo.roles.0.name}</td>
                                <td>{$vo.last_login_time}</td>
                                <td><span class="label {$vo.status_class}">{$vo.status_text}</span></td>
                                <td><a href="{:url('admin/user/edit',['id'=>$vo['id']])}"><span class="label label-primary"><i class="demo-psi-pen-5"></i>编辑</span></a></td>
                            </tr>
                            {/volist}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="footable-visible">
                                    <div class="text-right">
                                        {$list->render()}
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>
{/block}